[Unit]
Description=Dendrite (Matrix Homeserver)
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=dendrite
Group=dendrite
WorkingDirectory=/var/lib/dendrite/
ExecStart=/usr/bin/dendrite-monolith-server
Restart=always
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
